# DATABASE
DATABASE_ENGINE="postgresql+psycopg"
DATABASE_NAME=""
DATABASE_USER=""
DATABASE_PASS=""
DATABASE_HOST="localhost"
DATABASE_PORT="5432"

DATABASE_URL=${DATABASE_ENGINE}://${DATABASE_USER}:${DATABASE_PASS}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

# SECURITY
JWT_SECRET_KEY=""
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES="30"
JWT_REFRESH_TOKEN_EXPIRE_DAYS="7"

# FILE STORAGE
MAX_UPLOAD_MB="10"